absl-py==2.1.0
adagio==0.2.6
aiofiles==24.1.0
alembic==1.14.0
altair==5.4.1
altair_tiles==0.3.0
aniso8601==9.0.1
annotated-types==0.7.0
ansi2html==1.9.2
antlr4-python3-runtime==4.13.2
anyio==4.6.2.post1
anywidget==0.9.13
aplr==10.7.3
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
bokeh==3.6.1
boto3==1.35.57
botocore==1.35.57
branca==0.8.0
cachetools==5.5.0
catboost==1.2.7
category-encoders==2.6.4
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.0
codetiming==1.4.0
colorama==0.4.6
colorlog==6.9.0
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
coreforecast==0.0.14
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
daal==2025.0.0
daal4py==2024.7.0
dacite==1.8.1
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dash_auth==2.3.0
dash_cytoscape==1.0.2
dask==2024.11.0
dask-expr==1.1.17
databricks-sdk==0.36.0
debugpy==1.8.8
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.9
distributed==2024.11.0
distro==1.9.0
docker==7.1.0
docopt==0.6.2
dtreeviz==2.2.2
duckdb==1.1.3
dynaconf==3.2.6
entrypoints==0.4
et_xmlfile==2.0.0
evidently==0.4.39
executing==2.1.0
explainerdashboard==0.4.7
fairlearn==0.11.0
Faker==30.8.2
fastapi==0.115.4
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.1
fiona==1.10.1
Flask==3.0.3
Flask-WTF==1.2.2
flask_simplelogin==0.2.0
flatbuffers==24.3.25
folium==0.18.0
fonttools==4.54.1
fqdn==1.5.1
fs==2.4.16
fsspec==2024.10.0
fugue==0.9.1
fugue-sql-antlr==0.2.2
future==1.0.0
gast==0.6.0
geopandas==1.0.1
gevent==24.10.3
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googletrans==3.0.0
gradio==5.5.0
gradio_client==1.4.2
graphene==3.4.1
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.67.1
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
hstspreload==2024.11.1
htmlmin==0.1.12
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.26.2
hyperframe==6.0.1
hyperopt==0.2.7
idna==3.10
ImageHash==4.3.1
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
interpret==0.6.5
interpret-core==0.6.5
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isoduration==20.11.0
iterative-telemetry==0.0.9
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_simpledark==1.0.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
keras==3.6.0
kiwisolver==1.4.7
kmodes==0.12.2
libclang==18.1.1
lightgbm==4.5.0
litestar==2.12.1
llvmlite==0.43.0
locket==1.0.0
lxml==5.3.0
lz4==4.3.3
m2cgen==0.10.0
magic_duckdb==0.1.27
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mercantile==1.2.1
missingno==0.5.2
missingpy==0.2.0
mistune==3.0.2
ml_dtypes==0.5.0
mlflow==2.17.2
mlflow-skinny==2.17.2
mljar-scikit-plot==0.3.12
mljar-supervised==1.1.13
mlxtend==0.23.2
moto==5.0.20
mrmr-selection==0.2.8
msgpack==1.1.0
msgspec==0.18.6
multidict==6.1.0
multimethod==1.12
multiprocess==0.70.17
mypy-extensions==1.0.0
mysql-connector-python==9.1.0
namex==0.0.8
narwhals==1.13.3
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
openpyxl==3.1.5
opentelemetry-api==1.28.1
opentelemetry-exporter-otlp-proto-common==1.28.1
opentelemetry-exporter-otlp-proto-grpc==1.28.1
opentelemetry-exporter-otlp-proto-http==1.28.1
opentelemetry-proto==1.28.1
opentelemetry-sdk==1.28.1
opentelemetry-semantic-conventions==0.49b1
opt_einsum==3.4.0
optree==0.13.0
optuna==4.0.0
optuna-integration==4.0.0
orjson==3.10.11
outcome==1.3.0.post0
overrides==7.7.0
oyaml==1.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
patsy==0.5.6
percy==2.0.2
phik==0.12.4
pickleshare==0.7.5
pillow==11.0.0
pipreqs==0.5.0
platformdirs==4.3.6
plotly==5.24.1
plotly-resampler==0.10.0
pluggy==1.5.0
pmdarima==2.0.4
polars==1.12.0
polars-u64-idx==1.12.0
polyfactory==2.18.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
protobuf==5.28.3
psutil==6.1.0
psygnal==0.11.1
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyaml==24.9.0
pyarrow==18.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycaret==3.3.2
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.26.0
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
pynndescent==0.5.13
pyod==2.0.2
pyogrio==0.10.0
pyparsing==3.2.0
pyproj==3.7.0
PySocks==1.7.1
pytest==8.3.3
pytest-benchmark==5.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.17
pytz==2024.2
PyWavelets==1.7.0
pywin32==308
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==26.2.0
qpd==0.4.4
querystring-parser==1.2.4
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
responses==0.25.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.9.4
rich-click==1.8.3
rpds-py==0.21.0
rsa==4.9
ruff==0.7.3
s3transfer==0.10.3
safehttpx==0.1.1
SALib==1.5.1
schemdraw==0.19
scikit-base==0.11.0
scikit-learn==1.5.2
scikit-learn-intelex==2025.0.0
scikit-optimize==0.10.2
scikit-plot==0.3.7
scipy==1.14.1
seaborn==0.13.2
selenium==4.26.1
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==75.3.0
shap==0.46.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
sktime==0.34.0
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlglot==25.29.0
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.2
statsforecast==1.7.8
statsmodels==0.14.4
streamlit==1.40.0
streamlit-option-menu==0.4.0
streamlit_folium==0.23.1
sweetviz==2.3.1
tabulate==0.9.0
tbats==1.1.3
tbb==2022.0.0
tblib==3.0.0
tcmlib==1.2.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tk==0.1.0
toml==0.10.2
tomlkit==0.13.2
toolz==1.0.0
tornado==6.4.1
tqdm==4.67.0
tradingview-ta==3.3.0
traitlets==5.14.3
triad==0.9.8
trio==0.27.0
trio-websocket==0.11.1
tsdownsample==0.1.3
typeguard==4.4.1
typer==0.13.0
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
umap-learn==0.5.7
uri-template==1.3.0
urllib3==2.2.3
utilsforecast==0.2.8
uuid6==2024.7.10
uvicorn==0.32.0
vega-datasets==0.9.0
vegafusion==1.6.9
vegafusion-python-embed==1.6.9
visions==0.7.6
vl-convert-python==1.7.0
waitress==3.0.1
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.0
Werkzeug==3.1.3
wheel==0.45.0
widgetsnbextension==4.0.13
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.2.1
xgboost==2.1.2
xmltodict==0.14.2
xxhash==3.5.0
xyzservices==2024.9.0
yarg==0.1.10
ydata-profiling==4.12.0
yellowbrick==1.5
zict==3.0.0
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.1
